.add-container {
    text-align: center;
    margin: auto;
    max-width: 800px;

    input {
        width: 70%;
        padding: 10px;

        @media (max-width: 400px) {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    
    .error {
        font-size: 10px;
        color: red
    }
}
